<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <style>
        p, th, td {
            direction: ltr;
            color: #e0e0e0;
        }
        h1, h2, h3{
            color: #444444;
            direction: ltr;
        }
        a {
            color: #0080ff;
            text-decoration: none;
        }
        .footer a {
            text-decoration:underline;
            color:#808080;
        }
    </style>
    <title>Mark notification</title>

    <meta charset="UTF-8"/>
</head>
<body>
<div bgcolor="#F7F7F7">
    <div style="background-color:#f7f7f7;width:100%;min-width:100%!important;">
        <table width="100%" bgcolor="#f7f7f7" cellpadding="0" cellspacing="0" border="0" style="text-align:center;border-collapse:collapse;">
            <tbody>
            <tr>
                <td>
                    <table bgcolor="#F7F7F7" cellpadding="0" cellspacing="0" border="0" width="600" align="center" style="margin:0px auto;border-collapse:collapse;">
                        <tbody>

                        <tr>
                            <td bgcolor="#F7F7F7" align="right" valign="top">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right" style="border-collapse:collapse;">
                                    <tbody>
                                    <tr>
                                        <td valign="top" width="100%">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="right">
                                                <tbody>
                                                <tr>
                                                    <td height="39" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td align="center" valign="top">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background-color:#f7f7f7;">
                                    <tbody>
                                    <tr>
                                        <td valign="top" width="100%">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="border-collapse:collapse;background-color:#f7f7f7;">
                                                <tbody>
                                                <tr>
                                                    <td bgcolor="#F7F7F7" height="40" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#FFFFFF" align="center">
                                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td height="36" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;
                                        font-size:16px;color:#505050;text-align:left;
                                        line-height:25.6px;font-weight:normal;text-transform:none">
                                            <p>
                                            <h1>Вам пришла оценка!</h1>
                                            <div style="
                                            display: block;
                                            width: 100%;
                                            height: 50px;
                                            background: #e0e0e0;
                                            text-align: left;
                                            align-content: center;
                                            padding: 15px 5px;
                                            border-radius: 6px;">
                                                <h3 style="margin-left:10%">
                                                   <i>%s : %s</i>
                                                </h3>
                                            </div>
                                            <br>
                                            If you need us for any reason, please reach out to
                                            <a href="mailto:studentplatform.no.reply@gmail.com">
                                                studentplatform.no.reply@gmail.com</a>.<br>
                                            <br>
                                            Sincerely,<br>
                                            Your Students Platfrom Team
                                        </td>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td height="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                        <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td bgcolor="#F7F7F7" align="center">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                                    <tbody>
                                    <tr>
                                        <td align="center">
                                            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                                <tbody>
                                                <tr><td height="10" style="font-size:1px;line-height:1px">&nbsp;</td></tr>
                                                <tr><td width="41" style="font-size:1px;line-height:1px">&nbsp;</td></tr>
                                                <tr>
                                                    <td width="25" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    <td class="footer" style="font-family:'Proxima Nova',Calibri,Helvetica,sans-serif;font-size:12px;color:#808080;font-weight:normal;text-align:center;line-height:150%">
                                                        <div>
                                                            <p><br></p>
                                                            <p><br></p>
                                                        </div>
                                                    </td>
                                                    <td width="25" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    <td height="20" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                    <td width="41" style="font-size:1px;line-height:1px">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>